<div class="flex flex-wrap">
<app-home></app-home>
<div class="grow">
<div class="containerpx-4 sm:px-8 rtl:ml-0 ">
  <div class="py-8">
    <div class="flex">
      <a [routerLink]="'/product/form'" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">اضافة</a>
      <h2 class="text-2xl font-semibold leading-tight text-center">المنتجات</h2>
    </div>
    <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
      <div
        class="inline-block min-w-full shadow-md rounded-lg overflow-hidden"
      >
        <table class="min-w-full leading-normal">
          <thead>
            <tr>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100  text-xs font-semibold text-gray-700 uppercase tracking-wider"
              >
                اسم المنتج
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100  text-xs font-semibold text-gray-700 uppercase tracking-wider"
              >
                وصف المنتج
              </th>
              <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100  text-xs font-semibold text-gray-700 uppercase tracking-wider"
            >

              صنف المنتج
            </th>
              <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100  text-xs font-semibold text-gray-700 uppercase tracking-wider"
            >

              الاجراءات
            </th>
          </thead>
          <tbody>
            @for( item of (products$ | async) ; track item){
            <tr class="text-center">
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm ">
                <p class="text-gray-900 whitespace-no-wrap">{{ item.proName }}</p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">{{ item.proDescription }}</p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">{{ item.category.cateName}}</p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm  ">
                <div class="flex  flex-row items-center">
                  <a [routerLink]="['/product/',item.proId]" class="flex-none w-6"><svg class="w-4 h-4 text-green-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.109 17H1v-2a4 4 0 0 1 4-4h.87M10 4.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm7.95 2.55a2 2 0 0 1 0 2.829l-6.364 6.364-3.536.707.707-3.536 6.364-6.364a2 2 0 0 1 2.829 0Z"/>
                  </svg></a>
                  <button (click)="DeleteProduct(item.proId)" ><svg class="w-4 h-4 text-red-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h16M7 8v8m4-8v8M7 1h4a1 1 0 0 1 1 1v3H6V2a1 1 0 0 1 1-1ZM3 5h12v13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V5Z"/>
                  </svg>
                </button>
                </div>

              </td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
</div>
